
@{
    ViewBag.Title = "Brands";
    Layout = "~/Areas/Customer/Views/Shared/_CustomerLayoutPage.cshtml";
}

<section class="shop_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Our Brands
            </h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="box">
                    @*<a href="">*@
                    <div class="img-box">
                        <img src="~/Areas/Customer/ContentWeb/images/Allen solly.png" alt="" />
                    </div>
                    @*</a>*@
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="box">
                    @*<a href="">*@
                    <div class="img-box">
                        <img src="~/Areas/Customer/ContentWeb/images/baby-hug.png" alt="" />
                    </div>
                    @*</a>*@
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="box">
                    @*<a href="">*@
                    <div class="img-box">
                        <img src="~/Areas/Customer/ContentWeb/images/babyoye.png" alt="" />
                    </div>
                    @*</a>*@
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="box">
                    @*<a href="">*@
                    <div class="img-box">
                        <img src="~/Areas/Customer/ContentWeb/images/bonfino.jpg" alt="" />
                    </div>
                    @*</a>*@
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="box">
                    @*<a href="">*@
                    <div class="img-box">
                        <img src="~/Areas/Customer/ContentWeb/images/Cutewalk.jpg" alt="" />
                    </div>
                    @*</a>*@
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="box">
                    @*<a href="">*@
                    <div class="img-box">
                        <img src="~/Areas/Customer/ContentWeb/images/kiikiekids.jpg" alt="" />
                    </div>
                    @*</a>*@
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="box">
                    @*<a href="">*@
                    <div class="img-box">
                        <img src="~/Areas/Customer/ContentWeb/images/pinekids.jpg" alt="" />
                    </div>
                    @*</a>*@
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="box">
                    @*<a href="">*@
                    <div class="img-box">
                        <img src="~/Areas/Customer/ContentWeb/images/baby-basket.jpg" alt="" />
                    </div>
                    @*</a>*@
                </div>
            </div>
        </div>
        <!--
                <div class="btn-box">
                    <a href="">
                        View All Products
                    </a>
                </div>
        -->
    </div>
</section>

<!-- end shop section -->
