<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="~/Areas/Customer/ContentWeb/images/favicon.png" type="image/x-icon">

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/Areas/Customer/ContentWeb/css/bootstrap.css" />
    <!-- Custom styles for this template -->
    <link href="~/Areas/Customer/ContentWeb/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/Areas/Customer/ContentWeb/css/responsive.css" rel="stylesheet" />

</head>
<body>
    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="/Customer/Customer/Index">
                    <span>
                        <img src="~/Areas/Customer/ContentWeb/images/fc-logo.png" />
                    </span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedcontent" aria-controls="navbarSupportedcontent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedcontent">
                    <ul class="navbar-nav  ">
                        <li class="nav-item active">
                            <a class="nav-link" href="/Customer/Customer/Index">
                                Home
                                <span class="sr-only"> (current) </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Customer/Customer/Brands">
                                Brands
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Customer/Customer/Why">
                                Why Us
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Customer/Customer/Testimonial">
                                Testimonial
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Customer/Customer/Contact">Contact Us</a>
                        </li>
                    </ul>
                    <div class="user_option">
                        <a href="/Customer/Customer/Login">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span>
                                Login
                            </span>
                        </a>
                    </div>
                </div>
            </nav>
        </header>
        <!-- end header section -->
       
        <!--New slider added here-->

        <section class="slider_section">
            <div class="slider_container">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="img-fluid">
                                            <img src="~/Areas/Customer/ContentWeb/images/Saving_1.jpg" class="myimage img-responsive thumbnail" alt="" height="300px" width="1200px" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xl-12 ">
                                        <div class="img-fluid">
                                            <img src="~/Areas/Customer/ContentWeb/images/Saving_2.jpg" class="myimage img-responsive thumbnail" alt="" height="300px" width="1200px" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="img-fluid">
                                            <img src="~/Areas/Customer/ContentWeb/images/Saving_3.jpg" class="myimage img-responsive thumbnail" alt="" height="300px" width="1200px" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="img-fluid">
                                            <img src="~/Areas/Customer/ContentWeb/images/Saving_4.jpg" class="myimage img-responsive thumbnail" alt="" height="300px" width="1200px" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="img-fluid">
                                            <img src="~/Areas/Customer/ContentWeb/images/Offer_3.JPG" class="myimage img-responsive thumbnail" alt="" height="300px" width="1200px" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel_btn-box">
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <img src="~/Areas/Customer/ContentWeb/images/line.png" alt="" />
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>


    </div>
    <!-- end hero area -->

    <div>
        @RenderBody()
    </div>

    <section class="info_section  layout_padding2-top">
        <div class="social_container">
            <div class="social_box">
                <a href="https://www.facebook.com/login/">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="https://twitter.com/login">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="https://www.instagram.com/h_gops/">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="https://www.youtube.com/">
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="info_container ">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <h6>
                            ABOUT US
                        </h6>
                        <p>
                            Explore kids and baby products galore at FirstCry, the Big Store for Little Ones. We at FirstCry empathize with you as a mother who always aspires to bestow her newborn, infant, baby or kid with the best things even for their smallest needs. That is why, 'Mommy Knows Best'. From breastfeeding to bathing essentials, right furniture to myriad baby care products, a mother needs them all for her lil' one.
                        </p>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="info_form ">
                            <h5>
                                Newsletter
                            </h5>
                            <form action="#">
                                <input type="email" placeholder="Enter your email">
                                <button> Subscribe </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <h6>
                            REFUND POLICY
                        </h6>
                        <p>
                            Our policy lasts 30 days. If 30 days have gone by since your purchase, unfortunately we can’t offer you a refund or exchange. To be eligible for a return, your item must be unused and in the same condition that you received it. It must also be in the original packaging.
                        </p>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <h6>
                            CONTACT US
                        </h6>
                        <div class="info_link-box">
                            <a href="">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span> Mhada colony, Byculla - 33 </span>
                            </a>
                            <a href="">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>+91 8976552597</span>
                            </a>
                            <a href="">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span> hrish5209@gmail.com</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer section -->
        <footer class=" footer_section">
            <div class="container">
                <p>
                    &copy; <span id="displayYear"></span> All Rights Reserved By
                    <a href="https://www.google.com/">Hrishikesh Gopale</a>
                </p>
            </div>
        </footer>
        <!-- footer section -->

    </section>

    <!-- end info section -->


    <script src="~/Areas/Customer/ContentWeb/js/jquery-3.4.1.min.js"></script>
    <script src="~/Areas/Customer/ContentWeb/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
    </script>
    <script src="~/Areas/Customer/ContentWeb/js/custom.js"></script>

</body>
</html>
